h2 {
	margin-left: 14px;
}

form {
	margin-left: 14px;
}

label {
	margin-top: 4px;
}

#submit {
	margin-top: 13px;
}
/*
input[type='radio'] {
	margin-left: 50px;
}
*/

/*
input {
	margin-left: 14px;
}

label {
	margin-left: 14px;
	margin-top: 4px;
}

#submit {
	margin-top: 13px;
}
*/